.linkNav{
    color:#C2DBFF;
    text-decoration: solid;
}
.linkNav:active{
    color:#E3A101
}

.linkNav:hover{
    color:#E3A101
}
.primaria{
    background-color: #1094AB;
}
.secundaria{
    background-color: #FFB500;
}

.celBtn{
    width: 50px;
}

.navUsp{
   margin-right: 10rem;
   margin-top: 15px;
}
 .me-auto{
     margin-top: 15px;
 }
